*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color:#fff;
}

.img1{
    background-size: cover;
    height:600px;
    background-position: right;
    margin-left: 830px;
}
.heading{
    font-family: Nabla;
    font-size:130px;
    padding: 12px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
i{
    font-size: 120px;
    padding-left: 17px;
}
.new{
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    color:#fff;
    font-size: 20px;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.text{
    font-size: 40px;
    padding: 25px;
    font-family: Agbalumo;
    color:#b35270;
}
.name{
    color:#ff004f;
    font-family: 'Edu TAS Beginner', cursive;
}
.pers{
    border-radius: 20px;
    margin-left:180px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #9fd533;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 15%;
}
.about-col-1 pers{
    width:100px;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 40px;
    font-weight: 800;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 90px;
    font-size:16px;
    font-weight:400;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
}
.tab-links.active-link::after{
    width:50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 20px 2px;
    color:rgb(224, 162, 82);
    font-size: 15px;
}
.sp{
    color:#b35270;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;
}
#know{
    padding: 30px 6px;
}
.know-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:50px;
    margin-top: 40px;
}
.container{
    padding: 10px 10%;
}
.ct1{
    width:500px;
    height:auto;
    background-color: #d47171;
    border-radius: 10px;
    border-width: 3px;
    padding: 20px;

}
.ct2{
    background-color: #9fd533;
}
.paracon{
    color:#2f0321;
    padding: 5px;
}
.ct1:hover{
    transform: translateY(-10px);
    background: #03839a;
}
.ct3{
    background-color: #cc71d4;
}
.ct4{
    background-color: #d1537b;
}
.headcon{
    padding-top: 10px;
    padding-bottom: 8px;
    font-size: 25px;
}
#webpages{
    padding: 50px 0;
}
.work{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:50px;
    margin-top: 40px;
}
.work1{
    border-radius: 20px;
    position: relative;
}
.imgpro{
    width:500px;
    height: 300px;
    border-radius: 20px;
    transition: transform 0.5s;
    box-shadow: 5px 5px 10px black;

}
.main{
    border-color: #bd198a;
    /*background:linear-gradient(#5106A7, #FEBAFF, #ff5b7c);*/
    background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);

    border-style: double;
    border-radius: 20px;
    padding: 40px;
    display: block;
}


.ifo{
    font-size: 20px;
}
.panel{
    background-color: #222f3d;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  margin-top: 20px;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  margin-top: 30px;
}
.social-icon__link:hover {
  transform: translateY(-10px);
  color: #9fd533;
}
  
.footp{
    font-family: "Poppins",sans-serif;
    color:#dcecee ;
    text-align: center;
    padding-bottom: 20px;
}
.work1:hover .imgpro{
    transform: scale(1.1);
}
.con-le1{
    flex-basis: 35%;
}
.con-ri1{
    flex-basis: 65%;
}
.con-le1 p{
    margin-top: 30px;
}
.fi{
    font-size: 30px;
    padding-right: 10px;
}
.div1{
    display: flex;
    flex-direction: row;
}
.re{
    text-decoration: underline;
}
.butdo{
    display: inline-block;
    /*background-color: #d5c533;*/
    background:linear-gradient(#004A4E,#D99BDC,#E6EFC2);
    border-radius: 20px;
    padding: 20px;
    margin-top: 10px;
    text-decoration: none;
}
         
.btn-grad {
    background-image: linear-gradient(to right, #3a6186 0%, #89253e  51%, #3a6186  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
.con-ri1 form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:#ababab;
    font-size: 17px;
    border-radius: 5px;
    box-shadow:  2px 2px 5px #fff;
}
.bsub{
    width: 100px;
    height: 50px;
    background-color: #33c7d5;
    color: #1d0505;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}